---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
            Let a man so account of us, as of the ministers of Christ, and stewards of the mysteries of God. 1 Corinthians 4:1 KJV

Ye have heard of the dispensation of the grace of God which is given me to you-ward: how that by revelation he made known unto me the mystery; (as I wrote afore in few words, whereby, when ye read, ye may understand my knowledge in the mystery of Christ) which in other ages was not made known unto the sons of men, as it is now revealed unto his holy apostles and prophets by the Spirit; Ephesians 3:2-5 KJV

While they were worshiping the Lord and fasting, the Holy Spirit said, Separate now for Me Barnabas and Saul for the work to which I have called them. Acts 13:2 AMPC

The Mandate

Andrew Agbaje and Juhani Juusola have received a mandate from our Lord Jesus Christ to all the world and to the Church, which is the body of Christ.

But arise and stand upon your feet; for I have appeared to you for this purpose, that I might appoint you to serve as [My] minister and to bear witness both to what you have seen of Me and to that in which I will appear to you, choosing you out [selecting you for Myself] and delivering you from among this [Jewish] people and the Gentiles to whom I am sending you— to open their eyes that they may turn from darkness to light and from the power of Satan to God, so that they may thus receive forgiveness and release from their sins and a place and portion among those who are consecrated and purified by faith in Me. Acts 26:16-18 AMPC

Andrew, a physician, and Juhani, a programmer, are based in Kuopio, Finland. They are involved in strengthening and edifying local churches, preaching the gospel everywhere, discipling and maturing young believers, organizing global prayer conferences, conducting inspirational and revelatory bible studies with the demonstration of the power and the gift of the Holy Spirit, through mighty miracles, signs and wonders in the name of our Lord Jesus Christ.

To the body of Christ, these brothers are ambassadors of the mystery of the glory of God hidden from ages now made known to the saints by the spirit of wisdom, to prepare a glorious church for the Bridegroom’s return.

That He might present the church to Himself in glorious splendor, without spot or wrinkle or any such things [that she might be holy and faultless]. Ephesians 5:27 AMPC

But we speak the wisdom of God in a mystery, even the hidden wisdom, which God ordained before the world unto our glory: 1 Corinthians 2:7 KJV

And these signs shall follow them that believe; In my name shall they cast out devils; they shall speak with new tongues; they shall take up serpents; and if they drink any deadly thing, it shall not hurt them; they shall lay hands on the sick, and they shall recover. Mark 16:17,18 KJV

Email: flamethefreeze@gmail.com    
Flame the Freeze YouTube https://www.youtube.com/channel/UCmWTJvua42sk_NugqyyovNQ/videos

about-us
meta - About Us - Let a man so account of us, as of the ministers of Christ, and stewards of the mysteries of God. 1 Corinthians 4:1 KJV
</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
