---
import Layout from "../layouts/Layout.astro";
---

<!-- .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  } --><!-- .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem; -->
<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="bg-cover bg-center bg-gradient-to-r from-purple-600 via-pink-600 to-blue-600 bg-clip-text text-transparent">Flame the Freeze</span></h1>
    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      Flame the Freeze is a website focused on God's Word working today in
      real-life. The kingdom of God is not in enticing words of man's wisdom but
      in demonstrated power. Therefore the power of God working in and through
      the lives of normal people is a testimony that God still works in the
      midst of His people in this 21st century.
    </p>
    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      For thus saith the Lord of hosts; Yet once, it is a little while, and I
      will shake the heavens, and the earth, and the sea, and the dry land; and
      I will shake all nations, and the desire of all nations shall come: and I
      will fill this house with glory, saith the Lord of hosts. Haggai 2:6,7 KJV
    </p>
    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      It is high time the bride of Christ woke up from slumber and spiritual
      death because our Lord Jesus Christ is coming for a glorious church. God
      is going to shake the church out of every frost and freeze. He wants to
      'flame the freeze'. It is high time we see salvation of souls, restoration
      of backsliders, and revival of the apostolic signs and wonders in the
      entire body of Christ. Genuine christlikeness and christianity is not
      about denominational, cultural, racial, geographical, gender, age, or
      religious superiority because... There is one body, and one Spirit, even
      as ye are called in one hope of your calling; One Lord, one faith, one
      baptism, One God and Father of all, who is above all, and through all, and
      in you all. Ephesians 4:4-6 KJV
    </p>

    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      The church of God must be God's kingdom in earth, a spiritual embassy and
      surgical theatre where human lives are completely renewed, revived,
      refreshed, restored, revolutionized, reinvigorated, reinstated into divine
      royalty. In the midst of wars, diseases, famine, despair, and gross
      darkness on the face of the earth, the glory of God in the body of Christ
      groans for manifestation.
    </p>
    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      Arise, shine; for thy light is come, and the glory of the Lord is risen
      upon thee. For, behold, the darkness shall cover the earth, and gross
      darkness the people: but the Lord shall arise upon thee, and his glory
      shall be seen upon thee. And the Gentiles shall come to thy light, and
      kings to the brightness of thy rising. Isaiah 60:1-3 KJV
    </p>
    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      God's people must be committed to lifting the name of our Lord Jesus
      Christ and to see His kingdom manifest in street corners, institutions,
      church denominations, villages, towns, cities, countries, and continents.
      Do you want to join this chariot of fire that will change the globe?
    </p>

    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      And when they found them not, they drew Jason and certain brethren unto
      the rulers of the city, crying, These that have turned the world upside
      down are come hither also. Acts 17:6 KJV
    </p>
    <p class="m-4 border bg-white p-4 rounded-md border-violet-700/25">
      Ministry of the Word flame-the-freeze meta - Flame the Freeze is about
      Word of God working today in real-life. Testimonies of how lives have been
      changed, are the best proof.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
