---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
            Prayer, is it necessary?

Jesus answered and said unto them, Ye do err, not knowing the scriptures, nor the power of God. Matthew 22:29 KJV

Haven't the Sadducees studied the scriptures all their lives? Haven't they devoted their whole lives to serve God in the temple? And to know his word and teach others and become experts of the law? Is it possible that a person could be religious and study the Bible one's whole life and still be told by Jesus: "Ye do err, not knowing the scriptures, nor the power of God"? How can I know if my worship of God is vain? And if I'm just studying or living a doctrine which substantially are the commandments and traditions of religious men?

How about me?

A few rhetoric questions, Is the power of God operating in my life? Is my life being transformed day by day by the power of God? Are my families and friends being influenced by God's manifesting presence through my life? Are the sick healed by Jesus through me and do I cast out demons in the name of Jesus Christ our Lord and see them crying out in fear and disarray? Do I see the gospel being preached to sinners and they entering in the kingdom of God, free from addictions, chains of Satan, and lifelong captivating darkness? Am I free from private sins, lust, and addictions to alcohol, smoking, movies, video games, rock, blues, jazz music, documentaries, pornography, sexual magazines, books and romantic novels, etc? Do I see impossible situations being transformed by the power of the Almighty God like Moses was at the Red Sea?  

Have I read about supernatural events in the scriptures and concluded it is not for my generation since I have not witnessed nor experienced any of these in my country, city, or local church denomination?

Brethren, it is time we entered into personal supernatural experience in the Holy Spirit. God is baptizing us with power, immersing us with the manifestations of the Spirit, soaking us with the fragrance of heaven as we assemble at the throne of grace. Join us in prayer meeting every other Saturday starting at 18:00 GMT+2. It is time we saw the glory of God manifested in and through the church. At this war time and in this war zone, we activate combat alongside celestial armies because spiritual warfare has been legalized by the Captain of the Host of the Lord, Jesus Christ the Son of God.

And from the days of John the Baptist until the present time, the kingdom of heaven has endured violent assault, and violent men seize it by force [as a precious prize—a share in the heavenly kingdom is sought with most ardent zeal and intense exertion]. Matthew 11:12 KJV

prayer
meta - Prayer - Jesus answered and said unto them, Ye do err, not knowing the scriptures, nor the power of God. Matthew 22:29.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
