---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
            Spiritual clouds of witnesses

Time would fail us to mention our elder brothers and sisters who have gone head of us. They excel using the same principles as discussed on this webpage. These giants of faith must not be forgotten, kindly search for them, study their lives, strengths and weaknesses and move on to shake your world for the Lord.

And what shall I more say? for the time would fail me to tell of Gedeon, and of Barak, and of Samson, and of Jephthae; of David also, and Samuel, and of the prophets: Who through faith subdued kingdoms, wrought righteousness, obtained promises, stopped the mouths of lions. Hebrews 11:32,33 KJV

Wherefore seeing we also are compassed about with so great a cloud of witnesses, let us lay aside every weight, and the sin which doth so easily beset us, and let us run with patience the race that is set before us. Hebrews 12:1 KJV.

But ye are come unto mount Sion, and unto the city of the living God, the heavenly Jerusalem, and to an innumerable company of angels, to the general assembly and church of the firstborn, which are written in heaven, and to God the Judge of all, and to the spirits of just men made perfect. Hebrews 12:22,23 KJV

Martin Luther: 1483-1546
-Reformation of church
-“We are saved by faith alone, but the faith that saves is never alone.”
-"The truth of the matter is rather as Christ says, 'He who is not with me is against me.' He does not say, 'He who is not with me is not against me either, but merely neutral.'"

John Knox: 1514-1572
-Reformation of church in Scotland
-“A man with God is always in the majority.”
-"The Scriptures of God are my only foundation and substance in all matters of weight and importance."

John Wesley: 1703-1791
-Methodist
“Light yourself on fire with passion and people will come from miles to watch you burn.”
-“You have one business on earth – to save souls.”

Jonathan Edwards: 1703-1758
-Sinners in the hands of the angry God.
-"All earthly desires are but streams, but God is the ocean."
-"Resolution One: I will live for God. Resolution Two: If no one else does, I still will."

George Whitefield: 1714-1770
-Methodist
-"If you are going to walk with Jesus Christ, you are going to be opposed... In our days, to be a true Christian is really to become a scandal."
-"Study to know Him more and more, for the more you know, the more you will love Him."

David Brainerd: 1718-1747
-Missionary to the Native Americans
-"Let me forget the world and be swallowed up in the desire to glorify God."

William Carey: 1761-1834
-A pioneer of Protestant  missionary work. Translation of the Bible (total or partial) into 34 languages.
-"I'm not afraid of failure; I'm afraid of succeeding at things that don't matter."
-"To know the will of God, we need an open Bible and an open map."

Charles G. Finney: 1792-1875
-The leader of the second great revival in the United States. "The father of the old revival."
-“It is the great business of every Christian to save souls. People complain that they do not know how to take hold of this matter. Why, the reason is plain enough; they have never studied it. They have never taken the proper pains to qualify themselves for the work. If you do not make it a matter of study, how you may successfully act in building up the kingdom of Christ, you are acting a very wicked and absurd part as a Christian.”

George Müller: 1805-1899
-The director of the Ashley Down orphanage.
-“The beginning of anxiety is the end of faith, and the beginning of true faith is the end of anxiety.”
-“Money is really worth no more than as it can be used to accomplish the Lord's work. Life is worth as much as it is spent for the Lord's service.”

Andrew Murray: 1828-1917
-More than 200 books and tracts on Christian spirituality and ministry, extensive social work, and the founding of educational institutions.
-"May not a single moment of my life be spent outside the light, love, and joy of God's presence". "Not a moment without the entire surrender of myself as a vessel for him to fill full of his Spirit and his love".

William and Catherine Booth: 1829-1912, 1829-1890
-Founders of the Salvation Army.
-"Will you go to His feet and place yourself entirely at His disposal?
-"You are not here in the world for yourself. You have been sent here for others. The world is waiting for you!"

Hudson Taylor: 1832-1905
-Founder of the China Inland Mission.
-“There are three great truths, 1st, That there is a God; 2nd, That He has spoken to us in the Bible; 3rd, That He means what He says.”
-“God is not looking for men of great faith, He is looking for common men to trust His great faithfulness.”

C. H. Spurgeon: 1834-1892
-"Prince of Preachers".
-"The best “apology” for the gospel is to let the gospel out. Never mind defending Deuteronomy or the whole of the Pentateuch. Preach Jesus Christ and him crucified. The Lion of the tribe of Judah will soon drive away all his adversaries."
-"Have you no wish for others to be saved? Then you're not saved yourself, be sure of that!"

D. L. Moody: 1837-1899
-Founder of Moody Church, publisher.
-“If our spiritually dead ones are to be raised, we must first get power with God. The reason we so often fail in moving our fellowmen is that we try to win them without first getting power with God. Jesus was in communion with His Father, and so He could be assured that His prayers were heard.”

Maria Woodworth-Etter: 1844-1924
-American healing evangelist.
-“I find that the earnest followers of Christ have very little rest here. Like our Master, we must be about our Father’s business.”
-“Paul says preaching has to be with demonstration of the Spirit and of power. The Holy Ghost bears witness with signs and miracles; unless these attend our ministry we cannot succeed.”

John Alexander Dowie: 1847-1907
-Faith healer, founder of the Zion city.
-“My tears were wiped away, my heart was strong, I saw the way of healing…I said, “God help me now to preach the Word to all the dying around, and tell them how ‘tis Satan still defiles, and Jesus still delivers, for He is just the same today.”
-“There are many Christians who are Christians in theory only, and they are worldlings in practice.”

Carrie Judd: 1858-1946
-American editor, philanthropist, woman preacher, faith healer, evangelist, radical evangelical, and writer.
-"You get faith by studying the Word. Study that Word until something in you "knows that you know" and that you do not just hope that you know."

Smith Wigglesworth: 1859-1947
-14 people raised from the dead among other manifestations of the Spirit, world wide ministry.
 -“I am not moved by what I see. I am moved only by what I believe. I know this, no man looks at appearances if he believes. No man considers how he feels if he believes. The man who believes God has it."
-“Some people read their Bibles in Hebrew, some in Greek; I like to read mine in the Holy Ghost. You must everyday make higher ground. You must deny yourself to make progress with God."

Billy Sunday: 1862-1935
-During the early 20th century America's most famous evangelist.
-"I believe the Bible is the word of God from cover to cover."
-"Conversion is a complete surrender to Jesus. It's a willingness to do what he wants you to do."

John (praying) Hyde: 1865-1912
- He came to be called "Praying Hyde" for his passionate prayers to reach lost souls.
-“The renewal of the Church will depend on the renewal of our prayer life.”

John G. Lake: 1870-1935
-Leader in the Pentecostal movement, faith healer, missionary, co-founder of the Apostolic Faith Mission of South Africa.
-"Jesus did not heal the sick in order to coax them to be Christians. He healed because it was His nature to heal."

William J. Seymour: 1870-1922
-Holiness preacher who initiated the Azusa Street Revival.
-"I can say, through the power of the Spirit that wherever God can get a people that will come together in one accord and one mind in the Word of God, the baptism of the Holy Ghost will fall upon them, like as at Cornelius' house."
-"Any man that is saved and sanctified can feel the fire burning in his heart, when he calls on the name of Jesus."

F. F. Bosworth: 1877-1958
-Faith healer, a bridge to the mid-20th century healing revival.
-“Don't doubt your faith; doubt your doubts, for they are unreliable.”
-“God would rather have us doubt His ability than His willingness.”

Evan Roberts: 1878-1951
-Leading figure of the 1904-1905 Welsh revival.
-“What we need is a fresh vision of the Cross. And may that mighty, all-embracing love of His be no longer a fitful, wavering influence in our lives, but the ruling passion of our souls.”

A. W. Pink: 1886-1952
-"One of the most influential evangelical authors in the second half of the twentieth century."
-“It is not the absence of sin but the grieving over it which distinguishes the child of God from empty professors”
-“No verse of Scripture yields its meaning to lazy people.”

Duncan Campbell: 1898-1972
-A leader in the Lewis Awakening or Hebrides Revival.
-"There is a kind of gospel being proclaimed today which conveniently accommodates itself to the spirit of the age, and makes no demand for godliness."

Oswald J. Smith: 1889-1986
-Pastor, author, and missions advocate, founded The Peoples Church
-Preached over 12,000 sermons in 80 countries, 35 books (translated to 128 languages), 1,200 poems.
-“We talk of the Second Coming; half the world has never heard of the first.”
-“The church that does not evangelize will fossilize.”

Aimee Semple McPherson: 1890-1944
-Founded Foursquare Church, pioneered broadcast mass media. The most publicized Protestant evangelist in her time.
-"What is my task? First of all, my task is to be pleasing to Christ. To be empty of self and be filled with Himself. To be filled with the Holy Spirit; to be led by the Holy Spirit."

Corrie Ten Boom: 1892-1983
-Helped many Jewish people escape from the Nazis during the Holocaust in World War II. Writer and public speaker.
-“Worry does not empty tomorrow of its sorrow, it empties today of its strength.”
-“Forgiveness is an act of the will, and the will can function regardless of the temperature of the heart.”

A. W. Tozer: 1897-1963
-Pastor, author, magazine editor, and spiritual mentor.
-“It is doubtful whether God can bless a man greatly until He has hurt him deeply.”
-"What comes into our minds when we think about God is the most important thing about us."

Gladys Aylward: 1902-1970
-A revered figure among the people, taking in orphans and adopting several herself, intervening in a volatile prison riot and advocating prison reform, risking her life many times to help those in need.
-"Oh God, here's my Bible, Here's my money. Here's me. Use me, God."

Watchman Nee: 1903-1972
-Chinese church leader and Christian teacher.
-Established churches throughout China and held many conferences to train Bible students and church workers.
-Nee was persecuted and imprisoned for his faith and spent the last twenty years of his life in prison
-“How true it is that without the guidance of the Holy Spirit intellect not only is undependable but also extremely dangerous, because it often confuses the issue of right and wrong.”

David du Plessis: 1905-1987
-Considered one of the main founders of the charismatic movement, in which the Pentecostal experience of baptism with the Holy Spirit spread to non-Pentecostal churches worldwide.

Kathryn Kuhlman: 1907-1976
-American known for hosting healing services.
-"God is not looking for gold vessels or silver vessels. He is looking for willing vessels."
-"I surrendered unto Him all there was of me; everything! Then for the first time I realized what it meant to have real power."

William M. Branham: 1909-1965
-Faith healer who initiated the post World War II healing revival.
-"The Holy Ghost will make you dress right, and live right, and talk right, and be right, when the Holy Ghost gets you. Amen. That’s right."

A. A. Allen: 1911-1970
-Faith healer and deliverance ministry, "Miracle Crusades".
-“If you are walking with Jesus, in the Spirit, you need not fear going too far. No believer has gone as far as God wants him to go.”
-"Before one can walk as Christ walked, and talk as He talked, he must first begin to think as Christ thought."

Lester Sumrall: 1913-1996
-Founded the Lester Sumrall Evangelistic Association.
-He culmination of his evangelistic work in Philippines was the establishment of the Cathedral of Praise in Manila with over 24,000 members.
-“You are what you are because that is what you really want to be! We make decisions and those decisions make us who were are! You can judge anything in the world by this. God builds up and the Devil tears down.”

Derek Prince: 1915-2003
-A Bible teacher whose daily radio programme, Derek Prince Legacy Radio, is broadcast around the world in various languages.
-Author of 51 books, 600 audios and 100 videos, many of which has been translated and published in more than 60 languages.
-“Prayer is limitless. It’s our intercontinental ballistic missile. We can launch it from anywhere and make it reach anywhere.”
-“There is no such thing as partial obedience.”
-“A person who is committed to God views everything from His perspective.”

Kenneth E. Hagin: 1917-2003
-Pioneer of Word of Faith movement.
-Born with deformed heart and incurable blood disease. He was not expected to live and at age 15 became paralyzed and bedridden. was raised from his deathbed by a revelation of "faith in God's Word" after reading Mark 11:23-24.
-“Central Truth: Prayer is successful only when it is based on the promises in God’s Word!”
-“You are what you read.”

Oral Roberts: 1918-2009
-One of the forerunners for the charismatic movement and was one of the most recognized preachers in the US at the height of his recognition
-He founded the Oral Roberts Evangelistic Association and Oral Roberts University
-"Faith is not something you have to get. It's something that you, as a bornagain child of God, already have. Act on it by releasing it to God. That's when your healing starts!"
-"When you see the invisible, you can do the impossible."

Billy Graham: 1918-2018
-Evangelist who became well known internationally in the late 1940s.
-Graham was a spiritual adviser to U.S. presidents, and he provided spiritual counsel for every president from Harry S Truman to Barack Obama.
-"Being a Christian is more than just an instantaneous conversion; it is like a daily process whereby you grow to be more and more like Christ."
-"My home is in Heaven. I'm just traveling through this world."

Jack Coe: 1918-1956
-"The man of reckless faith". One of the first faith healers in United States with a touring tent ministry after World War II.
-"If you have worry, you don't have faith, and if you have faith, you don't have worry."
-"Fear cannot stay in the same house as Jesus Christ."

Charles and Frances Hunter: 1920-2009, 1917-2008
-Couple wrote numerous books on divine healing, including the best seller How to Heal the Sick, and produced teaching DVDs to train others in healing ministry.
-Held seminars to train people in healing ministry.

T. L. and Daisy Osborn. 1923-2013, 1924-1995
-Televangelist, singer, author and teacher. Host of the television program Good News Today. Osborn Ministries International.
-“One Way: Jesus! One Job: Evangelism!”
-"How can we call ourselves a church and not believe in healing and in miracles? I cannot read four pages anywhere in the Bible without encountering miracles! And the God of the bible is the same today!"
-"The purpose of a spirit filled life is to demonstrate the supernatural power of our living God so that the unsaved multitudes will abandon their dead gods to call upon the name of The Lord and be delivered."

R. W. Schambach: 1926-2012
-Televangelist, pastor, Word of Faith minister of the Word and author.
-"You don't have any problems, all you need is faith in God."
-"When the devil starts messing, God starts blessing."

Jim Elliot: 1927-1956
-Missionary who was one of five people killed during and attempt to evangelize the Huaorani people in Ecuador.

David Wilkerson: 1931-2011
-Founder of the addiction recovery program Teen Challenge, founding pastor of the non-denominational Times Square Church.
-Direct and frank sermons against apostasy, such as "A Call to Anguish", and serious about making the commitment to obey Jesus' teachings.
-“What is it about tears that should be so terrifying? the touch of God is marked by tears...deep, soul-shaking tears, weeping...it comes when that last barrier is down and you surrender yourself to health and wholeness”

Morris Cerrullo: 1931-2020
-Traveled extensively around the world for his ministry. He hosted Victory Today, a daily television program, and published more than 80 books.
-"Sometimes it’s not good to reveal everything that God tells you, unless you are prepared to go through an awful period of criticism and unbelief until it comes to pass."
-“Your circumstances are an opportunity for you to draw near to God and for God to reveal Himself to you through those circumstances in a greater way than He ever has before.”

Reinhard Bonnke: 1940-2019
-Gospel missions throughout Africa. It is estimated that over 79 million people converted to Christianity as a result of Bonnke's ministry. "A giant and a general in the Army of God".
-“It is said that resentment is like drinking poison and waiting for your enemy to die. There is no room for such a waste of energy in the service of God.” ― Reinhard Bonnke, Living a Life of Fire.
-“We are not helping people to get God right, but to get right with God. The Holy Spirit alone opens hearts and minds.” ― Reinhard Bonnke, Even Greater: 12 Real-Life Stories That Inspire You to Do Great Things for God.

These all were vessels in the hand of our Mighty God. Consider therefore what God can do through you. However, do not stay at the level of consideration and wishful thinking, but read His Word, believe, pray and act. And you will see the manifestation of the miraculous. Indeed greatness lies within you. https://youtu.be/Snz3TVc0CF4

Biographies of Giants of Faith https://www.youtube.com/c/RobertPears1

Quotes taken from:
https://www.azquotes.com/
https://www.goodreads.com/
https://www.derekprince.com/about/quotes

About Us

spiritual-clouds-of-witnessesdaily-devotionals
meta - Daily devotionals - Wherewithal shall a young man cleanse his way? by taking heed thereto according to thy word. Psalm 119:9 KJVClouds of witnesses - Wherefore seeing we also are compassed about with so great a cloud of witnesses... Hebrews 12:1a KJV.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
