---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
            The twelve apostles were with our Lord Jesus Christ for three and half years. They were no scholars, just normal men with petty jobs. But Jesus chose these men for the most critical task of the church- to lay spiritual foundation in the habitations of cruelty, wickedness, hate, oppression, and persecution. What made this little unknown men succeed? How did they survive the brutal opposition and matrydom?

Now when they saw the boldness of Peter and John, and perceived that they were unlearned and ignorant men, they marvelled; and they took knowledge of them, that they had been with Jesus. Acts 4:13 KJV

It was not about their skills and talents, connections, resources, ethnicity or race. But their commitment to stay and continuing staying with Jesus who is the true Vine. 
You might be uneducated, disadvantaged, have some disability, little skills, talents, relationships and connections. But none of these is integral to your glorious manifestation. The key question is: Have you been with Jesus?

How about you?

When you function in your family, meet with friends, go to work, do daily chores, can people speak about you being with Jesus? Does your life spread the heavenly fragrance, knowledge, presence, and person of our Lord Jesus Christ? Is his presence so overwhelming on you such that when people meet you, they actually meet Jesus? Is his life changing power and love overtaking your weaknesses and carnal limitations so that people can see God through the veil of your flesh?

Little wonder the Apostle said, But we will give ourselves continually to prayer, and to the ministry of the word. Acts 6:4 KJV

And the crowds, when they saw what Paul had done, lifted up their voices, shouting in the Lycaonian language, The gods have come down to us in human form! Acts 17:11 AMPC

Brethren, it is high time we knew Jesus. His presence, righteousness, love, joy and peace must submerge us until all ravaging strongholds of the devil in our and others' lives are completely destroyed and vanquished. Would you like to join us at His spiritual dining table, where He reveals himself to His church? For it is written in Habakkuk 2:14 that for the earth shall be filled with the knowledge of the glory of the Lord, as the waters cover the sea. It is time we met Jesus!

Flame the Freeze YouTube

Prayer

ministry-of-the-word
meta - Ministry of the Word - But we will give ourselves continually to prayer, and to the ministry of the word.Acts 6:4
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
