---
import '../styles/global.css';
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/word/">Word</a>
  <a href="/prayer/">Prayer</a>
  <a href="/devotions/">Devotions</a>
  <a href="/fivefold/">File fold</a>
  <a href="/witnesses/">Cloud of Witnesses</a>
  <a href="/about/">About</a>
</div>
